{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
<form class="snippetCreate" action="/post/create" method="POST">
    <div>
        <label>Title:</label>
        {{with .Form.FieldErrors.title}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" value="{{.Form.Title}}">
    </div>
    <div>
        <label>Content:</label>
        {{with .Form.FieldErrors.content}}
        <label class="error">{{.}}</label>
        {{end}}
        <textarea name="content">{{.Form.Content}}</textarea>
    </div>
    {{with .Form.FieldErrors.category}}
    <label class="error">{{.}}</label>
    {{end}}
    <div class="commentCategory">
        <input type="checkbox" name="backend" value="1">
        <label for="backend">Backend</label>
        <input type="checkbox" name="frontend" value="1">
        <label for="frontend">Frontend</label>
        <input type="checkbox" name="fullstack" value="1">
        <label for="fullstack">Fullstack</label>
    </div>
    <div>
        <input type="submit" value="Publish post">
    </div>
</form>
{{end}}